/* General */

.shadow {
    box-shadow: 20px 20px 30px 10px #e5d3c9
}

body {
    background-color: #fbf3e8
}

h1, h2 {
    text-align: center
}

div {
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: #FFF;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.image {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 30%
}

p {
    text-align: justify;
    color: gray
}
